body{
    background: #343a40;
    font-family: 'Montserrat', sans-serif;
}


/*Tela de Login*/

.sess_login{    
    padding:40px
}

.logo{
    width:70%;
    margin: 30px;
}

.card-login{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-bottom: 30px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2rem;
}

.title-login{
    font-weight: 600;
    text-transform: uppercase;
    color:#707070;
    font-size: .9rem;
    margin-bottom:2rem;
}

.form-login .form-control{
    background:#eee;
    border:none;
    border-radius:20px;
    padding: 1.2rem .5rem;
}

.form-login .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #eee;
    border: none;
    border-radius: 20px;
}

.form-login .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0px 0px 15px 0.2rem rgba(255,0,0,.25);
}

.form-login .input-group-text .ico{
    width: 15px;
    opacity: .5;
}

.alert{
    border-radius:200px;
}
.alert-danger {
    color: #b30000;
    background-color:#FFF!important;
    border-color: #f00;
    
}

.btn{
    cursor:pointer;
    border-radius: 20px;
}

.btn-default {
    color: #fff;
    background-color: #f00;
    border-color: #f00;
}

.btn-default:hover {
    color: #fff;
    background-color: #b30000;
    border-color: #b30000;
}

.btn-default.focus, .btn-default:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,.5);
}

.btn-outline-default {
    color: #f00;
    border-color: #f00;
}

.btn-outline-default:hover {
    color: #fff;
    background-color: #f00;
    border-color: #f00;
}

.btn-outline-default.focus, .btn-outline-default:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,.5);
}

.forgotPass{
    color:#f00;
    font-size:.8rem;
    margin-top: 10px;
    display: block;
}

.forgotPass:hover{
    color:#b30000;
    font-size:.8rem
}

.assineAqui{
    color:#707070;
    font-size: .8rem;
    font-weight: 500;
    transition: ease .1s;
}

.assineAqui:hover{
    color:#707070;
    font-weight: 800;
    transition: ease .1s;
}

.messages{
    height: 40px;
}

.duvida{
    color:#aaa;
    font-weight: 500;
    font-size: .7rem;
}


/*Elementos comuns*/

/*BARRA DE NAVEGACAO*/
.navbar-light{
    background-color:#fff!important
}

.navbar-nav {
    line-height: 4!important;

}

.navbar {
    padding: 0rem 1rem!important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: 500;
    color: #000;
    font-size: .8rem;
}

.navbar-light .navbar-nav .nav-link {   
    font-weight: 500;
    color: #858585;
    font-size: .8rem;
}

.dropdown-toggle{
    text-transform: uppercase;
}

.dropdown-toggle::after {
    display: none;
}

.caret{
    background-color: #fff;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    right: 35px;
    top: -10px;
    box-shadow: -2px -2px 2px rgba(0,0,0,.1);
}

.dropdown-divider {
    margin: .5rem 1rem;
}

.dropdown-menu {
    padding: .5rem 0;
    margin: .125rem 0 0;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    position: relative;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-weight: 700;
    color:#AAAAAA;
    text-transform: uppercase;
    font-size: .8rem;
    border-radius: 1.5rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #f00;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item .ico{
    width:20px;
    display: inline;
    opacity:.7;
    margin-right: 10px;
}

.fotoAluno{
    background: #E1E1E1;
    width:35px;
    height:35px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    border-radius:40px;
    padding:8.75px;
    margin-left:5px;    
    overflow: hidden;
    background-size: auto 100% ;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.fotoAluno-ico{
    display: flex;
    width: 17.5px;
    opacity: .5;
    align-items: center;
    vertical-align: middle;
    
}



.logo-nav{
    height:40px
}

.form-search{
    margin-top: .85rem;
}

.input-search{
    background:#fff;
    border:none;
    border-right: 1px solid #858585;
    border-radius:0px;
    font-size: .7rem;
    padding: 1.2rem .5rem;
}

.search-prepend .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.input-search:focus {
    color: #495057;
    background-color: #fff;
    border-right: 1px solid #858585;
    border-bottom:1px solid #858585;
    outline: 0;
    box-shadow:none;
    
}

.search-prepend .input-group-text .ico{
    width: 20px;
    opacity: .5;
}


.ico-default{
    opacity:.5;
    width: 50px;
}

.sess_404{
    padding:80px 50px;
    
}

/*Home*/
.welcome{
    padding:30px;
    background:#000000;
}

.welcome .h5{
    color:#707070;
    font-weight: 500;
}

/*Footer*/

.logo-footer{
    width:50%;
    margin: 5px;
}

.footer{
    background:  #fff;
    position: relative;
    margin-top: 35px;
    padding:20px;    
    
}

.footer p{
    line-height: 1;
    font-weight: 500;
    color:#858585;
    font-size: .7rem;
    margin:0px
}




/*Estilo do Modo ADM*/
.navbar{
    box-shadow: 0px 3px 10px rgba(0,0,0,.15);
    margin-bottom: 5px;
}

.pageInfo {
    background: #fff;
    border-bottom: #dc3545 2px solid;
    padding: 20px 20px 20px 20px;
    font-family: Ubuntu;
}

.pageInfo .h4 {
    color: #dc3545;
    font-weight: 400;
    margin: 0;
}

.pageInfo .h4 i {
    color: #999;
}

/*NAVEGACAO*/
.navegacao {
    padding-top: 2px;
}



.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: 400;
    font-family: Ubuntu;
   /* background-color: #f9f9f9;
    border-color: #dee2e6 #dee2e6 #f9f9f9;*/
}
.nav-tabs .nav-item a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    font-family: Ubuntu;    
    font-weight: 100;
}

.sess_content{
    background-color:#fff;
}

.sess_edicaoAula{
    background-color:#d4d4d4;
}

/*SIDE*/
.side-adm{
    width:15%;
    background:#e0e0e0;
    background-image: linear-gradient(#e0e0e0 40%,  #f9f9f9 100%);
    float: left;
}

.side-itens{
    list-style: none;
    padding:0px;
}

.side-link a{
    text-decoration: none;
    color:#000;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    display: block;
    padding:10px;
    padding-left: 43px;
}
.side-link i{
    color:#888;
    margin-right: 10px;
}

.side-link:hover{
    background:#ececec;
}

.side-link:hover a{
    font-weight: 500;
}

.side-adm .active{
    background:#f9f9f9;    
    color:#000;
}

.side-adm .active a{
    font-weight: 500;
}   


.telaInfo{
    background: #fff;
    border-bottom: #dc3545 1px solid;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-family: Ubuntu;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 5px;
}

.telaInfo .h5 {
    color: #dc3545;
    font-weight: 400;
    margin: 0;
}

.telaInfo .h5 i {
    color: #999;
}

.telaNegra{
    background:#000;
    width:100%;
    height: 100vh;
    position:fixed;
    top:0px;
    left: 0px;    
    z-index: -10;
    opacity: .7;
}


.modal-content {
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.modal-header .h4 i,.h5 i{
    color: #777;
}

.modal-header {
    border-bottom: none;
    box-shadow: 0px -5px 10px rgba(0,0,0,.5);
}

.modal-header .h4, .h5{
    font-weight: 300;
    font-family: Ubuntu;
    color: #dc3545;
    font-size: 1.5rem;
    margin:0px;
}

.modal-header .h4 small, .h5 small{
    font-weight: 100;
    font-family: Ubuntu;
    color: #777;
    font-size: 1rem;
    margin:0px;
}

.modal-body {
   background: #f9f9f9;
   box-shadow: inset 0 0px 5px 1px rgba(0,0,0,.15);
}

.modal-footer {
    background: #f1f1f1;
    border-top: none;
}



.body-adm{
    width:85%;
    padding:10px;
    float: left;
    background-color: #f9f9f9;
}

label{
    font-style: italic;
    color:#888;
    margin:0px;

}

.form-control{
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    margin-bottom: 15px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border: none;
    border: 1px solid #ececec;
    border-bottom: 1px solid #dc3545;
    outline: 0;
    box-shadow:  1px 3px 5px rgba(255,0,0,.25);
}

.card-default{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin-bottom: 30px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2rem;
}





/*FOOTER ADM*/
.footer-adm{
    background:  #343a40;
    position: relative;
    padding:20px;    
    
}

.footer-adm p{
    line-height: 1;
    font-weight: 500;
    color:#999;
    font-size: .7rem;
    margin:0px
}

.tituloAula{
    color:#f00;
    font-size: 1.2rem;
    font-weight:600;
    margin-bottom: 0px;
}

.tituloAula i{
    color:#777;
}

.descricaoAula{
    font-size:1rem;
    color:#111;    
    margin-bottom: 0px;
}

.infoAula{
    font-size:.7rem;
    color:#777;
}

/*Live Director*/
.sect_liveDirector{
    background:#00000099;
    padding:20px
}

.box-messages{
    max-height:500px;
    overflow:auto
}


/*MOBILE*/
